{% extends "WebApp/base.html" %}

{% block content %}
<div class="col-md-8">
  <h3>Courses</h3>
  <div class="list-group">
    {% for course in courses %}
      <div class="list-group-item">
        <h5>{{ course.name }}</h5>
        <a href="{% url 'WebApp:list_modules' course.id %}" class="btn btn-primary">View Modules</a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block sidebar %}
<!-- Additional Information Section -->
<div class="col-md-4">
  <h3>Additional Information</h3>
  <p>Make sure you've checked the course details before viewing modules. If you need help, please contact us.</p>
</div>
{% endblock %}
