{% extends "base.html" %}

{% block content %}
<div class="col-md-8">
  <h3>Courses</h3>
  <div class="list-group">
    {% for module in modules %}
      <div class="list-group-item">
        <a href="{% url 'module_detail' module.code %}" class="btn btn-primary">{{ module.name }}</a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block sidebar %}
<!-- Additional Information Section -->
<div class="col-md-4">
  <h3>Additional Information</h3>
  <p>Make sure you've checked the course details before viewing modules. If you need help, please contact us.</p>
</div>
{% endblock %}
