{% extends "base.html" %}

{% block content %}

<!-- Course and Modules Section -->
<div class="col-md-8">
  <h3>{{ course.name }}</h3>
  <div class="list-group">
    {% for module in modules %}
      <div class="list-group-item">
        <h5><a href="{% url 'module_detail' module.id %}">{{ module.name }}</a></h5>

      </div>
    {% endfor %}
    <main>
      <div class="wrapper" data-for="article">
        <article class="card" data-for="article".card{container-type:inline-size;}
        @ container (min-width: 50ch) {.info{grid-column: 2;}}>
          <img src="https://picsum.photos/300/200?random=2" alt="">
          <div class="card__content">
            <h2>some Module</h2>
            <p>Module description</p>
            <div class="card__actions">
              <button class="button">
                <span class="button__text">
                  Add<span class="button__text button__text--supplementary">&nbsp;to list</span>
                </span>
                <span class="button__icon material-symbols-outlined">bookmark_add</span>
              </button>
              <button class="button">
                <span class="button__text">
                  Read<span class="button__text button__text--supplementary">&nbsp;now</span>
                </span>
                <span class="button__icon material-symbols-outlined">import_contacts</span>
              </button>
            </div>
          </div>
        </article>
      </div>
      <div class="wrapper" data-for="button">
        <button class="button">
          <span class="button__text">
            Add<span class="button__text button__text--supplementary">&nbsp;to list</span>
          </span>
          <span class="button__icon material-symbols-outlined">bookmark_add</span>
        </button>
      </div>
    </main>
  </div>
</div>

{% endblock %}

{% block sidebar %}
  <!-- Additional Information Section -->
  <div class="col-md-4">
    <h3>Additional Information</h3>
    <p>Make sure you've checked the module details before registering or unregistering. If you need help, please contact us.</p>
  </div>
{% endblock %}


